<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>projetJavaEE</display-name>
  <welcome-file-list>
    <welcome-file>Connection</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>be.belouh.servlet.ConnectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>be.belouh.servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>be.belouh.servlet.MovieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeconnectionServlet</servlet-name>
    <servlet-class>be.belouh.servlet.DeconnectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovieDetailServlet</servlet-name>
    <servlet-class>be.belouh.servlet.MovieDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovieWatchServlet</servlet-name>
    <servlet-class>be.belouh.servlet.MovieWatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LibraryServlet</servlet-name>
    <servlet-class>be.belouh.servlet.LibraryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LibraryDetailServlet</servlet-name>
    <servlet-class>be.belouh.servlet.LibraryDetailServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>be.belouh.filter.SessionFilter</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/Movie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeconnectionServlet</servlet-name>
    <url-pattern>/Deconnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieDetailServlet</servlet-name>
    <url-pattern>/MovieDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieWatchServlet</servlet-name>
    <url-pattern>/MovieWatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LibraryServlet</servlet-name>
    <url-pattern>/Library</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LibraryDetailServlet</servlet-name>
    <url-pattern>/LibraryDetail</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>